.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .form-group label {
    margin-bottom: 5px;
  }
  
  .form-group .password-input-container {
    display: flex;
  }
  
  .form-group .password-input-container .form-control {
    flex: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .form-group .password-input-container .password-button {
    padding: 6px 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    color: #333;
  }
  